<div class="container">
    <div class="row">
      <!-- Login -->
      <div class="col p-2 mt-2">
        <form action="/login" method="post">
          <div class="form-group">
            <h2 class="font-weight-bold">Login</h2>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="user[username]" placeholder="Enter Username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="user[password]" placeholder="Password" required>
          </div>
          <button type="submit" id="submit" class="btn btn-primary">Login</button>
        </form>
        <%="#{flash[:message_login]}"%>
      </div>

      <!-- Signup -->
      <div class="col-md-6 p-2 ml-md-4 mt-2 bg-light text-dark">
        <form action="/signup" method="post">
          <div class="form-group">
            <h2 class="font-weight-bold">Create Account</h2>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="user[username]" aria-describedby="usernameHelp" placeholder="Enter username" required>
            <small id="usernameHelp" class="form-text text-muted">Make it memorable, you'll be using it to login.</small>
            <br>
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="user[email]" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="user[password]" placeholder="Password" required>
          </div>
          <button type="submit" id="submit" class="btn btn-primary">Signup</button>
        </form>
        <%="#{flash[:message_signup]}"%>
      </div>
    </div>
  </div>
