<form  action="/hardwares" method="post" enctype="multipart/form-data">
  <h2 class="font-weight-bold">Name: <input type="text" name="hardware[name]"></h2>
  <br>
  <div class="card mt-2 pl-2" style="width: 100%;">
    <div class="card-body">
      <p>Belong to:</p>
      <h6 class="card-subtitle mb-2 text-muted"><input type="radio" name="hardware[hardware]" value="<%=@user.slug%>"> Me</h6>
      <% if !@user.setup.nil? %>
        <h6 class="card-subtitle mb-2 text-muted"><input type="radio" name="hardware[hardware]" value="<%=@user.setup.id%>"> My Setup</h6>
      <% end %>
      <br>
      <img src="/images/blankImage.png" alt="Select image to upload" class="img-thumbnail m-1">
      <input type="file" name="file[image1]" >
      <br>
      <img src="/images/blankImage.png" alt="Select image to upload" class="img-thumbnail m-1">
      <input type="file" name="file[image2]" >
      <br>
      <img src="/images/blankImage.png" alt="Select image to upload" class="img-thumbnail m-1">
      <input type="file" name="file[image3]" >
      <br>
      <p class="card-text">Rank: <input type="text" name="hardware[rank]"></p>
      <br>
    </div>
  </div>
  <br>
  <button type="submit" name="submit" class="btn btn-primary">Save Changes</button>
</form>
